{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static 'main/images/slider1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Метка первого слайда</h5>
        <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'main/images/slider2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Метка второго слайда</h5>
        <p>Некоторый репрезентативный заполнитель для второго слайда.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'main/images/slider3.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Метка третьего слайда</h5>
        <p>Некоторый репрезентативный заполнитель для третьего слайда.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>

<br>

<br>
<div class="container">
    <p class="h1 text-center">Авторы</p>
    <div class="row text-center">

        {% for user in users %}
        {% if user.is_superuser or user.is_staff %}
        {% else %}
        <div class="col-lg-3 col-md-3 col-sm-6">
            <a href="{% url 'main:author' user.id %}">
                <div class="card text-bg-dark">
                    {% if user.profile.imageUser %}
                    <img src="{{ user.profile.imageUser.url }}" height="200px" class="card-img" alt="...">
                    {% else %}
                    <img src="{% static 'main/avatar.jpg' %}" height="200px" class="card-img" alt="...">
                    {% endif %}
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
    </div>
    <div class="row text-center">
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="text-end">
        <p class="h5"><a class="nav-link" href="{% url 'main:authors' %}">Еще</a></p>
    </div>
    <hr>
    <br>
    <!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-sm-6 d-none d-sm-block">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
      class="w-100 shadow-1-strong rounded mb-4 col-sm-6 px-0 d-none d-sm-block"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-sm-6 d-none d-sm-block">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-sm-6 d-none d-sm-block">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->
    <br>
    <hr>
<!--    Искуствоо-->
    <div class="text-center">
    <p class="h1">Arts</p>

    <div>
        <div class="row center">
            {% for item in items %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card">
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid"  style="height: 20rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                         <p class="card-text">{{ item.description|truncatewords:20 }}</p>
                        <a href="{% url 'item:detail' item.id %}" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row center">
            {% endif %}
            {% endfor %}
        </div>

        <br>
        {% if items.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center">{% if items.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a>
                </li>
                {% endif %}
                {% for i in items.paginator.page_range %}
                {% if items.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if items.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}


    </div>


    <div class="container mt-5">
        <h2 class="text-center mb-4">Categories</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for category in categories %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ category.name }}</h2>
                        <p class="card-text">{{ category.items.count }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fab fa-artstation fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>

<p id="js-message">JavaScript работает!</p>


{% endblock %}